* {
  box-sizing: border-box;
}

.mainDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  align-items: start;
  padding-top: 5%;
}

.mainPic {
  height: 15%;
  width: 15%;
  margin: 0 1% 5% 5%;
  border: solid .2em #bcb8b1;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 20px 0px 20px;
  

}

.title {
  color: #d28a74;
}

.mainParagraph {
  font-weight: lighter;
  text-align: left;
  line-height: 1.6;
  margin: 0 auto;
}