* {
  box-sizing: border-box;
}

.mainDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6%;
}

.mainPic {
  height: 30%;
  width: 30%;
  margin: 20px 20px 0px 20px;
  border: solid .4em #FFF1E6;
}

.welcomeText {
  width: 40%;
  margin: 20px 20px 0px 20px;
  
}

.title {
  color: #b68b73;
}

.mainParagraph {
  font-weight: lighter;
  text-align: left;
  line-height: 1.6;
}