* {
  box-sizing: border-box;
}

body {
  background-color: #F4f3ee;
  font-family: 'Roboto Slab', serif;
  margin: 0 auto;
}


a {
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: #F0EFEB;
}

a:visited {
  color: #F0EFEB;
}

a:hover {
  color: #e6c7bdc6;
  text-decoration: underline;
}

a:active {
  color: #EDDCD2;
}

