.mainDiv {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.email {
  color: #d28a74;
}

.funPic {
  width: 35%;
  border: solid .4em #bcb8b1;
  height: auto;
}