* {
  box-sizing: border-box;
}
.parent {
  background-color: #9f9793;
  display: flex;
  font-family: 'Roboto Slab', serif;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 11%;
  font-size: 1.1em;
  margin: 0 auto;
}
.name {
  font-size: larger;
  color: #463F3A;
}

.home {
  display: flex;
}



