* {
  box-sizing: border-box;
}
.parent {
  background-color: #A5A58D;
  display: flex;
  height: 30%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  justify-content: space-evenly;
}

.home {
  display: flex;
}

a {
  text-decoration: none;
}

a:link {
  color: #F0EFEB;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(7, 58, 7);
}

a:active {
  color: hotpink;
}

